<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Wizard Game</title>
    <link href="{{url_for('static', filename='styles/juegose.css')}}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container-header" >
        <h1>Wizard Game<h1>
      </div> 
    </header>
    <div class="instruccion">
      <h3>Presione p para empezar el juego</h3>
    </div>
    <section id="canvas"> 
      <br>
      <div class="canvas_container" id="canvas_container">
        <canvas id="myCanvas" class="myCanvas"></canvas>
      </div>
    <form action ="/guardar_puntuacion" method="POST" >
      <div id="puntaje" class="puntaje">
        <h1>¡Felicidades! ingresa tu nombre para guardar tu puntaje</h1>
        <div class="Nombre">
          <input type="text" placeholder="Nickname" name="Nickname" value="">
          <input type="text" value="" name="Puntuacion" id="punt">
        </div>
        <button type="submit" class="btn">Ingresar</button>
      </div>
    </form>
    </section>

    <section id="home">
      <div class="home">
        <a href="/">
          <button class="Boton_1">
            <img src="../static/assets/pagina-de-inicio.png" class="icono">
            <P class="p_boton">INICIO</P>
          </button>
        </a>
      </div>
    </section> 
    <img id="back" src={{url_for('static', filename = "assets/back.png")}}>
    <img id="laserBlue" src={{url_for('static', filename = "assets/laserBlue.png")}}>
    <img id="laserGreen" src={{url_for('static', filename = "assets/laserGreen.png")}}>
    <img id="mago" src={{url_for('static', filename = "assets/mago.png")}}>
    <footer>
      <p>Hecho por: Josue Rodriguez y David Ravelo</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="module" src={{url_for('static', filename="scripts/app.js")}}></script>
    <script src="https://kit.fontawesome.com/1d779cd26d.js" crossorigin="anonymous"></script>

  </body>
</html>
